<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" *ngFor="let p of products">
        <ion-card class="list" (click)="goToProduct(p)">
          <div class="image-container">
            <img [src]="p.img" class="center-image">
          </div>
          <ion-card-header class="center-text">
            <ion-card-title>{{p.name | translate}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
