<div class="menu-sidebar">
  <form (ngSubmit)="login()">
    <ion-grid>
      <ion-row *ngIf="isForgot===false">
        <ion-col size="12">
          <ion-item fill="outline" lines="none" class="item-form">
            <ion-label class="floating" position="floating">{{'label.email' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="user.email" name="email" ngModel email placeholder="Ingresa tu Correo"></ion-input>
            <ion-note slot="error">Correo Inválido</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isForgot===false">
        <ion-col size="12">
          <ion-item fill="outline" lines="none" class="item-form">
            <ion-label class="floating" position="floating">{{'label.password' | translate}}</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" name="password" minlength="6" required="true" placeholder="Ingresa tu Contraseña"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="isForgot===true">
        <ion-col size="12" >
          <ion-item fill="outline" lines="none" class="item-form">
            <ion-label class="floating" position="floating">{{'label.email' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="user.email" name="email" ngModel email placeholder="Ingresa tu Correo"></ion-input>
            <ion-note slot="error">Correo Inválido</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row *ngIf="isForgot===false">
        <ion-col size="12" class="button-container">
          <ion-button color="dark" fill="clear" size="full" (click)="forgotPassword(1)">Olvidé mi contraseña </ion-button>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="isForgot===true">
        <ion-col size="12" class="button-container">
          <ion-button expand="block" type="button" (click)="forgotPassword(2)">Restaurar contraseña</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isForgot===false">
        <ion-col size="12" class="button-container">
          <ion-button expand="block" type="submit">{{'label.login' | translate}}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isForgot===true">
        <ion-col size="12"   class="button-container">
          <ion-button expand="block" type="button" (click)="backLogin()">{{'label.back' | translate}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isForgot===false">
        <ion-col size="12" *ngIf="showBack" class="button-container">
          <ion-button expand="block" type="button" (click)="exit()">{{'label.back' | translate}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isForgot===false">
        <ion-col size="12" class="button-container" >
          <ion-button color="dark" fill="clear" size="full" (click)="showNewAccount()">{{'label.new.account' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
