.logo {
  height: 60px;
  padding: 3px;
}

.back-button {
  font-size: 26px;
  padding-left: 10px;
  min-width: 36px;
}

ion-menu ion-list ion-item {
  display: flex;
  align-items: center;
}

ion-menu ion-item ion-icon {
  margin-right: 8px;
  width: 24px; /* Ajusta el ancho del icono según tus necesidades */
}

// ion-menu ion-item ion-label {
//   flex: 1;
// }

ion-menu ion-item ion-badge {
  margin-left: auto;
}

