ion-label{
    font-size: 15px;
    padding-left: 15px;
}

ion-card{
    width: 94%;
    height: 40%;
}

ion-datetime{
    font-size: 15px;
    justify-content: space-around;
    display: flex;
    size: 40px;
    


}