ion-card.product img {
  width: 200px;
  height: 200px;
  padding-top: 20px;
}

ion-text.price-checkbox {
  font-size: 16px;
  padding-left: 10px;
}

ion-text.price-radio {
  font-size: 16px;
}

ion-card-title.price {
  font-size: 16px;
}

ion-card-title.extraProductName {
  font-size: 16px;
}
