ion-card {
  padding: 20px;  /*ajusta este valor según sea necesario*/
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.label {
  font-weight: bold;
}

.select {
  margin-bottom: 16px;
}

.button {
  margin-top: 16px;
}

.table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  font-weight: bold;
}

.table td {
  vertical-align: middle;
}
